

@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');


:root{
    --cyan: hsl(179, 62%, 43%);
    --yellow:  hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Karla", sans-serif;
    background-color: var(--light-gray);
}



.dinero, h1, h2, .verde{
    font-weight: 700;
}

p, span, li, a{
    font-weight: 400;
}

.container{
    width: 73%;
    margin: 1rem;
}

header, main, footer{
    padding: 1.5rem;
}

main, footer, a{
    color: whitesmoke;
}

header{
    background-color: white;
    border-radius: 5px 5px 0 0;
}

main{
    background-color: var(--cyan);
}

main div{
    display: flex;
    align-items: center;
    gap: 15px;
   
}

footer{
    background-color: hsla(179, 62%, 43%, 0.7);
    border-radius: 0px 0px 5px 5px;
}




h1, h2{
    font-size: 1.3em;
}

h1{
    color: var(--cyan);
}

h2{
    margin-top: 0;
}

.verde{
    color: var(--yellow);
    line-height: 1.3;
}

header p {
    color: var(--grayish-blue);
    line-height: 1.7;
}

.dinero{
    font-size: 2.5em;
    margin: 0;
}

.per{
    font-size: 1.3em;
    opacity: 0.5;
}


main > p{
    margin-top: 0;
    margin-bottom: 1.8rem;
    opacity: 0.8;
}



button{
    font-family: "Karla", sans-serif;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--yellow);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin-bottom: 0.3rem;
}

li:last-child{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    opacity: 0.7;

}


@media (min-width: 730px) {
    .container{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 50px 1fr;
        max-width: 800px;
    }
    header{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding-right: 5rem ;
    }
    main{
        grid-column: 1 / 2;
        grid-row: 2 / -1;
        border-radius: 0px 0px 0px 5px
    }
    footer{
        border-radius: 0px 0px 5px 0px;
        grid-column: 2 / 3;
        grid-row: 2 / -1;
    }


  }